.box {
    width: 100px;
    height: 100px;
    background-color: #0074d9;
    border-radius: 50%;
  }

.header {
    font-style: italic;
    font-family: "Calibri";
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
  }